<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="CERSEntities"
				 connectionString="metadata=res://*/Model.CERSModel.csdl|res://*/Model.CERSModel.ssdl|res://*/Model.CERSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cersdev.ca.epa.local;Initial Catalog=CERSTesting;Persist Security Info=True;User ID=WebAppData;Password=w#b@pPDAtA;MultipleActiveResultSets=True;App=CERS-Biz-Test&quot;"
				 providerName="System.Data.EntityClient"
				 xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)" />
		<add name="CoreEntities"
				 connectionString="metadata=res://*/Model.UPFCoreModel.csdl|res://*/Model.UPFCoreModel.ssdl|res://*/Model.UPFCoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cersdev.ca.epa.local;Initial Catalog=Core;Persist Security Info=True;User ID=WebAppData;Password=w#b@pPDAtA;MultipleActiveResultSets=True;App=CERS-Biz-Test&quot;"
				 providerName="System.Data.EntityClient"
				 xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)" />
	</connectionStrings>
	<upf>
		<environment currentProfileKey="Testing"
								 xdt:Transform="SetAttributes"
>
		</environment>
		<documentStorage defaultProvider="FileSystem">
			<providers>
				<add name="FileSystem"
						 basePath="\\CALEPA-UPFILE1\CERS$\Documents\Testing"
						 type="UPF.Providers.DocumentFileSystemStorageProvider, UPF"
						 xdt:Transform="SetAttributes" />
			</providers>
		</documentStorage>
	</upf>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />

		<customErrors mode="Off"
									defaultRedirect="~/Error"
									xdt:Transform="Replace">
			<error statusCode="401"
						 redirect="~/Unauthorized" />
		</customErrors>
		<identity impersonate="true"
							xdt:Transform="SetAttributes" />
	</system.web>
</configuration>