<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="CERSEntities" connectionString="metadata=res://*/Model.CERSModel.csdl|res://*/Model.CERSModel.ssdl|res://*/Model.CERSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=UPSQL2;Initial Catalog=CERS;Persist Security Info=True;User ID=WebAppData;Password=w#b@pPDAtA;MultipleActiveResultSets=True;App=CERS&quot;" providerName="System.Data.EntityClient"/>
    <add name="CoreEntities" connectionString="metadata=res://*/Model.UPFCoreModel.csdl|res://*/Model.UPFCoreModel.ssdl|res://*/Model.UPFCoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=UPSQL2;Initial Catalog=Core;Persist Security Info=True;User ID=WebAppData;Password=w#b@pPDAtA;MultipleActiveResultSets=True;App=CERS&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataRegistryEntities" connectionString="metadata=res://*/Models.DataRegistry.csdl|res://*/Models.DataRegistry.ssdl|res://*/Models.DataRegistry.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cersdata.calepa.ca.gov;initial catalog=CUPADataRegistry;persist security info=True;user id=WebAppData;password=w#b@pPDAtA;multipleactiveresultsets=True;App=CERS&quot;" providerName="System.Data.EntityClient"/>
    <add name="elmah-sqlserver" connectionString="Data Source=UPSQL2;Persist Security Info=True;User ID=WebAppData;Password=w#b@pPDAtA;MultipleActiveResultSets=True;Initial Catalog=CERS;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
