body
{
	font-size: .85em;
	font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
	color: #232323;
	background-color: #fff;
}

header, footer, nav, section
{
	display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend
{
	font-size: 1.2em;
	font-weight: bold;
}

textarea
{
	min-height: 75px;
}

.editor-label
{
	margin: 1em 0 0 0;
}

.editor-field
{
	margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
	color: #ff0000;
}

.field-validation-valid
{
	display: none;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid
{
	display: none;
}

.status-bar
{
	font: normal 0.7em "Tahoma" , Verdana, Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
}

.status-bar .left
{
	float: left;
}

.status-bar .right
{
	float: right;
}

.status-bar .right ul
{
	float: right;
}

.status-bar .right ul li
{
	float: left;
	list-style-type: none;
	padding-left: 7px;
	margin-left: 7px;
}

.status-bar .right ul li.first
{
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}

.status-bar .right ul li a
{
}

.httpmethod
{
	font-size: .8em;
	color: Green;
}

.implmentationstatuslabel
{
	font-weight: bold;
	color: Blue;
}

.implstatus_testing
{
	color: Blue;
}

.implstatus_not
{
	color: #800000;
}

.implstatus_prod
{
	color: Green;
}